body {
    font-family: "Microsoft JhengHei",微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-link {
    color: black !important;
    font-size: 20px;
}
.nav-link:hover {
    box-shadow: 0 1px;
    padding-bottom:5px;
}
#intro .jumbotron {
    background: url("../image/jumbotron.png") no-repeat center center;
    background-size: cover;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 0;
}
.intro-text {
    color: white;
    margin-top: 300px;
    position: relative;
    margin-left: 10vw;
}
@media (min-width: 768px) {
    .intro-text {
        color: white;
        margin-top: 200px;
        position: relative;
    }
}
#product img {
    width: 60%;
}
#product a {
    color: inherit;
    text-decoration: none;
}
#product a:hover {
    color: rgb(92, 92, 92);
}
.product-title {
    font-size: 34px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 3rem;
    /* padding-bottom: 10rem !important; */
}
.product-descrp {
    font-size: 24px;
    font-weight: 200;
}
.product-item {
    background-color: #e5e5e5;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#product .col-md-6 {
    margin-top: 5px;
    padding: 0 0 0 5px;
}
#product .col-md-12 {
    margin-top: 5px;
    padding: 0 0 0 5px;
}
#product .container-fluid {
    padding-right: 20px;
}
footer hr {
    border-top: 1px solid black;
}
footer .container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
}